<div class="card">
  <div class="card-body">

    <div class="d-flex align-items-center mb-3">
      <button
        abpPermission="POS.ProductTypes.Create"
        *ngIf="isAdmin"
        class="btn btn-primary"
        [routerLink]="['/product-types/edit']">
        <i class="fa fa-plus me-1"></i> Create Product Type
      </button>

      <div class="ms-auto small text-muted">
        Total: <strong>{{ total }}</strong>
      </div>
    </div>

    <nz-table
      [nzData]="items"
      [nzLoading]="loading"
      [nzFrontPagination]="false"
      [nzTotal]="total"
      [nzPageIndex]="pageIndex"
      [nzPageSize]="pageSize"
      [nzShowSizeChanger]="true"
      [nzPageSizeOptions]="[10, 20, 50, 100]"
      nzTableLayout="fixed"
      [nzScroll]="{ x: '900px' }"
      (nzQueryParams)="onQueryParamsChange($event)">

      <thead>
        <tr>
          <th
            nzWidth="120px"
            nzColumnKey="{{ SORT.Type }}"
            [nzSortFn]="true"
            [nzSortOrder]="sortOrder(SORT.Type)">
            Type
          </th>

          <th
            nzWidth="200px"
            nzColumnKey="{{ SORT.TypeDesc }}"
            [nzSortFn]="true"
            [nzSortOrder]="sortOrder(SORT.TypeDesc)">
            Description
          </th>

          <th
            nzWidth="150px"
            nzColumnKey="{{ SORT.CreationTime }}"
            [nzSortFn]="true"
            [nzSortOrder]="sortOrder(SORT.CreationTime)">
            Creation Time
          </th>

          <!-- If you don't support nav sorting on backend, keep this column unsortable -->
          <th nzWidth="120px">
            Created By
          </th>

          <th nzWidth="50px" *ngIf="isAdmin"></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let t of items; trackBy: trackById">
          <td class="cell-ellipsis" [title]="t.type">{{ t.type }}</td>
          <td class="cell-ellipsis" [title]="t.typeDesc">{{ t.typeDesc }}</td>
          <td>{{ t.creationTime | date:'dd MMM yyyy HH:mm' }}</td>
          <td class="cell-ellipsis" [title]="t.creatorName">{{ t.creatorName }}</td>

          <td class="text-end" *ngIf="isAdmin">
            <a
              [routerLink]="['/product-types/edit', t.id]"
              abpPermission="POS.ProductTypes.Edit"
              class="btn btn-outline-secondary btn-xs">
              <i class="fa fa-edit"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </nz-table>

  </div>
</div>